body {
  color: #666;
}

.cart {
  width: 36px;
  position: absolute;
  right: 24px;
  top: 50px;
}

.goback {
  width: 20px;
  position: absolute;
  left: 24px;
  top: 58px;
}

.title {
  text-align: center;
  font-weight: 700;
  margin-top: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: block;
  width: 355px;
  height: 90vh;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1 px #999;
  width: 130px;
  margin: 5px;
  border-radius: 20px;
  justify-content: space-between;
}

.home-item-img {
  width: 70%;
}
.home-item-actions {
  display: flex;
  justify-content: space-between;
}
.home-item-title {
  margin: 0px;
  font-size: 20px;
}
.home-item-measures {
  margin: 0px;
  font-size: 12px;
}
.home-item-actions {
  margin: 0px;
  margin-top: 20px;
}
.home-item-price {
  margin: 0px;
}
.home-item-buy {
  margin: 0px;
  background: blue;
}

.cart1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cart-list {
  width: 100%;
  height: 50vh;
  border: 1px solid #333;
  border-radius: 10px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.cart.item-img {
  height: 70px;
}
.cart-item-delete {
  height: 25px;
}
.cart-item-price {
  margin: 0px;
}
.cart-text {
  text-align: left;
  width: 170px;
  border-bottom: solid 1px #333;
  padding-bottom: 5px;
}
.cart-item-title {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.cart-item-price {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.detail-img {
  width: 80%;
}
.detail p {
  text-align: center;
}
